/*
font-family: 'Raleway', sans-serif;
 */

*, /* all elements on the page*/
/* all pseudo-elements on the page */
*:before,
*:after {
  box-sizing: border-box; /* block size included paddings */
}

/* remove default margin of headers*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* remove default margin of paragraphs */
p {
  margin: 0 0 10px;
}

body {
  margin: 0; /* remove default margins */
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #6c7279; /* font color */
  background-color: white;
  -webkit-font-smoothing: antialiased;
}

/* Container
============= */

.container {
  width: 100%; /* 100% width */
  max-width: 1170px; /* maximum width */
  margin: 0 auto; /* align on center */
}

/* Header
========== */

.header {
  width: 100%; /* extend element on a whole width */
  position: absolute; /* place block above another block */
  top: 0;
  left: 0;
  z-index: 1000; /* place block as a last layer */
}

.header__inner {
  display: flex; /* inline position of elements in a box */
  justify-content: space-between; /* add space between elements */
  align-items: center; /* align items on center (vertical) */
  padding: 30px 0 8px 0; /* distance between text and block */

  border-bottom: 1px solid rgb(222, 65, 25); /* bottom line */
}

.header__logo img {
  width: 100%;
  max-width: 200px;
}

/* Navigation
============== */

.nav {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; /* make all text uppercase */
}

.nav__link {
  margin-left: 50px;
  color: white;
  text-decoration: none; /* remove url underline */
  opacity: 0.75;
  transition: opacity 0.1s linear; /* animation timeout */
}
.nav__link:first-child {
  margin-left: 0;
}

/* hover over link */
.nav__link:hover {
  opacity: 1; /* disable opacity */
  color: red;
}

/* Intro
========== */

.introduction {
  background-color: rgb(9, 12, 17);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  background-color: rgb(9, 39, 58); /* in case if image not loading */
  background: url(/img/pages/home/intro-background.jpg) center no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(9, 88, 111, 0.5); /* background image overlay */
  padding-top: 100px;
}

.intro__inner {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  text-align: center;
}

.intro__title {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  color: rgb(250, 188, 44);
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8); /* text shadow with opacity */
}

.intro__subtitle {
  margin-top: 10px;
  font-size: 22px;
  color: white;
  line-height: 1.5;
  font-weight: 600;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1.5); /* text shadow with opacity */
}

/* Button
========== */

.button {
  display: inline-block; /* hybrid of block and inline elements */
  margin-top: 125px;
  vertical-align: top;
  font-size: 13px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 3px; /* cut sharp corners */
  border: 0; /* remove default border */
  cursor: pointer; /* make a cursor as a "pointer" */

  transition: background 0.1s linear;
}

.button--red {
  background-color: rgb(222, 65, 25);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1.5);
}

.button--red:hover {
  background-color: red;
}

/* Reviews
=========== */

.feedback {
  display: flex;
  background-color: rgb(88, 73, 111);
}

.review {
  display: flex;
  /* flex-wrap: wrap; */ /* move elements on a new line if they can't fit in one line */
  margin: 100px 0;
}

.review__item {
  width: 50%;
  padding: 0 40px;
}

.review__text {
  margin-bottom: 10px;
  font-family: "Cardo", serif;
  font-size: 25px;
  color: white;
  line-height: 1.5;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.author {
  display: flex;
  align-items: center; /* align items on center (vertical) */
  justify-content: center;
}

.author__icon {
  width: 40px;
  border-radius: 20px;
}

.author__title {
  margin-left: 15px;

  font-size: 20px;
  font-weight: 700;
  color: white;
}

/* Portfolio
============= */

.portfolio {
  background-color: grey;
}

.portfolio__container {
  display: flex;
  flex-wrap: wrap;
  height: 800px;
}

.portfolio__item {
  width: 25%;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.portfolio__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

  transform: translate3d(-50%, -50%, 0);
}

.portfolio__photo:hover {
  -webkit-filter: unset;
  filter: unset;
  cursor: default;
}
